body {
  background-color: ivory;
  margin: 0;
}

img {
  width: 70%;
  height: auto;
  padding: 5px;
}

a {
  color:black;
}

p {
  padding-left: 10px;
}
h1 {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 10px
}

h2 {
  color:black;
  text-align:none;
  padding-left: 10px;
}

ol {
  border-right: 1px solid ;
  width: 150px;
  color: black;
  padding: 25px;
  padding-right: 5px;
  padding-top: 15px;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}

#grid #desc {
  padding-left: 0px;
}

.center{
  margin: auto;
  width: 60%;
  border: 10px solid black;
  padding: 10px;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  padding-top: 10px;
}